
<div class="col-md-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <ul class="nav nav-pills nav-pills-icons nav-pills-warning nav-stacked" role="tablist">
                                                <!--
                                    color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                -->
                                                <li class="active">
                                                    <a routerLink = "classInfo">
                                                        <i class="material-icons">info</i> Class Info
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="" >
                                                        <i class="material-icons">schedule</i> Schedule
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                       <div class="col-md-1"></div>
                                        
                              <router-outlet></router-outlet>
                           
                                    </div>
                                </div>
                            </div>
                        </div>