<div class="col-md-12">
  <div class="row">
<div class="col-md-6">
<div class="card">
	 
   
    
     <form id="RegisterValidation" action="#" method="">
		<div class="card-header card-header-icon" data-background-color="blue">
     <i class="material-icons">person</i>
    </div>	
    <div class="card-content">
       <h4 >Student's Information</h4>	
  <div class="row">
       <div class="col-md-3">
     <div class="form-group label-floating">
          <label class="control-label">
             Family Code
          <small>*</small>
         </label>
       <input class="form-control" type="text" name="number" number="true" />
      </div>	
       </div>
       <div class="col-md-4">
 <div class="form-group">
          <label class="control-label"   >
             Last Given Code:
         </label>
       
      </div>	
       </div>
        <div class="col-md-4">
 <div class="form-group">
          <label class="control-label"   >
            Kids Already Admitted:
         </label>
       
      </div>	
       </div>
       </div>  
<div class="row">
       <div class="col-md-8">
     <div class="form-group label-floating">
          <label class="control-label">
             Family Code
          <small>*</small>
         </label>
       <input class="form-control" type="text" name="number" number="true" />
      </div>	
       </div>
      <div class="col-md-4">
       <div class="row">
          <div class="fileinput fileinput-new text-center" data-provides="fileinput">
       <div class="fileinput-new thumbnail" style="height:180px; width: 180px">
        <img src="../../assets/img/image_placeholder.jpg" alt="...">
           </div>
           <div class="fileinput-preview fileinput-exists thumbnail"></div>
           <div>
             <span class="btn btn-info btn-round btn-file">
             <span class="fileinput-new">Select Picture</span>
           <span class="fileinput-exists">Change</span>
             <input type="file" name="..." />                                                                                                                                                                                                                                                                                                                                                            
					 </span>
           <a href="#pablo" class="btn btn-warning btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
          </div>
          </div>       				   
         </div> 
      </div>
        
       </div> 

    </div>   				
	   </form>
	  </div>
 </div>


<div class="col-md-6">
<div class="card">
	 
    <div class="card-header card-header-icon" data-background-color="blue">
     <i class="material-icons">assignment</i>
    </div>
   
 </div>
</div>

</div>
</div>
